.container {
    text-align: center;
    margin: 30px auto;
    width: 500px;
}

table {
    width: 100%;
}

table th {
    text-align: center;
}

label {
    margin-top: 30px;
}

form button {
    margin-top: 10px;
}

form input {
    width: 100%;
    height: 30px;
    text-align: center;
}

button[type=submit] {
    font-size: 150%;
    margin-top: 30px;
}

.convert-page a {
    margin-top: 30px;
}

.error {
    color: white;
    display: block;
    background: red;
    padding: 5px;
    font-size: 80%;
    text-align: left;
}

.error-page h1 {
    font-size: 190%;
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
    color: #fff;
}

.create-page form > div {
    margin-top: 30px;
}

.info {
    background: rgb(66, 184, 221);
    color: #fff;
    padding: 5px 10px;
    width: 100%;
    display: block;
}